In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [35]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [36]:
data=data.drop(["RowNumber",	"CustomerId","Surname"],axis=1)

In [37]:
label_encoder=LabelEncoder()
data["Gender"]=label_encoder.fit_transform(data['Gender'])

In [38]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [39]:
onehot_encoder=OneHotEncoder()
encoded_geo=onehot_encoder.fit_transform(data[["Geography"]])
encoded_geo.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [40]:
onehot_encoder.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [41]:
encoded_df=pd.DataFrame(encoded_geo.toarray(),columns=onehot_encoder.get_feature_names_out(['Geography']))
encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [42]:
data=pd.concat([data.drop('Geography', axis=1), encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [45]:
X = data.drop(["EstimatedSalary"],axis=1)
y= data["EstimatedSalary"]

In [50]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=42)

In [51]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [53]:
# Save the encoders and scaler for later use
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)

with open('onehot_encoder.pkl', 'wb') as file:
    pickle.dump(onehot_encoder, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regresssion Implimentation

In [54]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From e:\DL Projects\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [55]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From e:\DL Projects\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From e:\DL Projects\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [56]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [57]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [58]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From e:\DL Projects\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From e:\DL Projects\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 8s 13ms/step - loss: 100379.2031 - mae: 100379.2031 - val_loss: 98520.7031 - val_mae: 98520.7031
Epoch 2/100
250/250 [==============================] - 2s 8ms/step - loss: 99621.6797 - mae: 99621.6797 - val_loss: 96972.7500 - val_mae: 96972.7500
Epoch 3/100
250/250 [==============================] - 1s 6ms/step - loss: 96907.1406 - mae: 96907.1406 - val_loss: 92976.6016 - val_mae: 92976.6016
Epoch 4/100
250/250 [==============================] - 3s 12ms/step - loss: 91541.6719 - mae: 91541.6719 - val_loss: 86320.9141 - val_mae: 86320.9141
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 83764.0000 - mae: 83764.0000 - val_loss: 77816.6797 - val_mae: 77816.6797
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 74659.6406 - mae: 74659.6406 - val_loss: 68953.7031 - val_mae: 68953.7031
Epoch 7/100
250/250 [==============================] - 1s 6ms/step - loss: 65867.7344 - mae: 65867.7344 - val_loss: 61271.3828 - val_mae: 61271.3828
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 58845.4102 - mae: 58845.4102 - val_loss: 55753.9531 - val_mae: 55753.9531
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 54294.7969 - mae: 54294.7969 - val_loss: 52750.0703 - val_mae: 52750.0703
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 51910.9648 - mae: 51910.9648 - val_loss: 51464.2031 - val_mae: 51464.2031
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 50890.4297 - mae: 50890.4297 - val_loss: 50975.4297 - val_mae: 50975.4297
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 50499.2578 - mae: 50499.2578 - val_loss: 50799.6523 - val_mae: 50799.6523
Epoch 13/100
250/250 [==============================] - 2s 6ms/step - loss: 50329.7461 - mae: 50329.7461 - val_loss: 50701.4570 - val_mae: 50701.4570
Epoch 14/100
250/250 [==============================] - 1s 6ms/step - loss: 50240.4453 - mae: 50240.4453 - val_loss: 50645.1016 - val_mae: 50645.1016
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 50172.2266 - mae: 50172.2266 - val_loss: 50593.5938 - val_mae: 50593.5938
Epoch 16/100
250/250 [==============================] - 2s 7ms/step - loss: 50112.9688 - mae: 50112.9688 - val_loss: 50543.3203 - val_mae: 50543.3203
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 50061.7578 - mae: 50061.7578 - val_loss: 50505.2070 - val_mae: 50505.2070
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 50018.9336 - mae: 50018.9336 - val_loss: 50472.8438 - val_mae: 50472.8438
Epoch 19/100
250/250 [==============================] - 1s 6ms/step - loss: 49975.1758 - mae: 49975.1758 - val_loss: 50439.4688 - val_mae: 50439.4688
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 49944.2109 - mae: 49944.2109 - val_loss: 50413.8047 - val_mae: 50413.8047
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49904.3945 - mae: 49904.3945 - val_loss: 50387.9219 - val_mae: 50387.9219
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49877.0273 - mae: 49877.0273 - val_loss: 50363.7188 - val_mae: 50363.7188
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 49846.8750 - mae: 49846.8750 - val_loss: 50345.8438 - val_mae: 50345.8438
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49820.7109 - mae: 49820.7109 - val_loss: 50320.0273 - val_mae: 50320.0273
Epoch 25/100
250/250 [==============================] - 2s 8ms/step - loss: 49796.3828 - mae: 49796.3828 - val_loss: 50310.1992 - val_mae: 50310.1992
Epoch 26/100
250/250 [==============================] - 2s 6ms/step - loss: 49771.0508 - mae: 49771.0508 - val_loss: 50292.5391 - val_mae: 50292.5391
Epoch 27/100
250/250 [==============================] - 2s 6ms/step - loss: 49752.9688 - mae: 49752.9688 - val_loss: 50281.7734 - val_mae: 50281.7734
Epoch 28/100
250/250 [==============================] - 2s 6ms/step - loss: 49732.1602 - mae: 49732.1602 - val_loss: 50270.2773 - val_mae: 50270.2773
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49708.5977 - mae: 49708.5977 - val_loss: 50256.5625 - val_mae: 50256.5625
Epoch 30/100
250/250 [==============================] - 2s 7ms/step - loss: 49692.2734 - mae: 49692.2734 - val_loss: 50247.2148 - val_mae: 50247.2148
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49674.6289 - mae: 49674.6289 - val_loss: 50244.2852 - val_mae: 50244.2852
Epoch 32/100
250/250 [==============================] - 2s 6ms/step - loss: 49661.1484 - mae: 49661.1484 - val_loss: 50238.9766 - val_mae: 50238.9766
Epoch 33/100
250/250 [==============================] - 2s 6ms/step - loss: 49640.7734 - mae: 49640.7734 - val_loss: 50234.9102 - val_mae: 50234.9102
Epoch 34/100
250/250 [==============================] - 2s 7ms/step - loss: 49628.3438 - mae: 49628.3438 - val_loss: 50227.6133 - val_mae: 50227.6133
Epoch 35/100
250/250 [==============================] - 1s 6ms/step - loss: 49618.9336 - mae: 49618.9336 - val_loss: 50215.9531 - val_mae: 50215.9531
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 49604.5508 - mae: 49604.5508 - val_loss: 50222.1992 - val_mae: 50222.1992
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49589.8320 - mae: 49589.8320 - val_loss: 50216.0625 - val_mae: 50216.0625
Epoch 38/100
250/250 [==============================] - 2s 7ms/step - loss: 49579.2617 - mae: 49579.2617 - val_loss: 50210.5000 - val_mae: 50210.5000
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 49570.5898 - mae: 49570.5898 - val_loss: 50211.1875 - val_mae: 50211.1875
Epoch 40/100
250/250 [==============================] - 1s 6ms/step - loss: 49558.2852 - mae: 49558.2852 - val_loss: 50215.4531 - val_mae: 50215.4531
Epoch 41/100
250/250 [==============================] - 1s 6ms/step - loss: 49546.7109 - mae: 49546.7109 - val_loss: 50216.6562 - val_mae: 50216.6562
Epoch 42/100
250/250 [==============================] - 2s 7ms/step - loss: 49540.7578 - mae: 49540.7578 - val_loss: 50212.9219 - val_mae: 50212.9219
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 49526.1484 - mae: 49526.1484 - val_loss: 50221.0430 - val_mae: 50221.0430
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49520.6484 - mae: 49520.6484 - val_loss: 50212.3164 - val_mae: 50212.3164
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49512.0312 - mae: 49512.0312 - val_loss: 50225.3828 - val_mae: 50225.3828
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49505.8477 - mae: 49505.8477 - val_loss: 50232.8086 - val_mae: 50232.8086
Epoch 47/100
250/250 [==============================] - 2s 6ms/step - loss: 49496.2969 - mae: 49496.2969 - val_loss: 50223.9727 - val_mae: 50223.9727
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49487.9609 - mae: 49487.9609 - val_loss: 50208.8516 - val_mae: 50208.8516
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49482.3906 - mae: 49482.3906 - val_loss: 50218.9297 - val_mae: 50218.9297
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49474.2773 - mae: 49474.2773 - val_loss: 50229.2773 - val_mae: 50229.2773
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49468.3203 - mae: 49468.3203 - val_loss: 50221.2305 - val_mae: 50221.2305
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 49460.1992 - mae: 49460.1992 - val_loss: 50227.8711 - val_mae: 50227.8711
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49452.2734 - mae: 49452.2734 - val_loss: 50238.7383 - val_mae: 50238.7383
Epoch 54/100
250/250 [==============================] - 2s 8ms/step - loss: 49446.3555 - mae: 49446.3555 - val_loss: 50234.3672 - val_mae: 50234.3672
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49441.4922 - mae: 49441.4922 - val_loss: 50225.2773 - val_mae: 50225.2773
Epoch 56/100
250/250 [==============================] - 2s 6ms/step - loss: 49434.6016 - mae: 49434.6016 - val_loss: 50238.0234 - val_mae: 50238.0234
Epoch 57/100
250/250 [==============================] - 2s 7ms/step - loss: 49429.0586 - mae: 49429.0586 - val_loss: 50238.3398 - val_mae: 50238.3398
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 49424.8477 - mae: 49424.8477 - val_loss: 50253.3242 - val_mae: 50253.3242

In [59]:
%load_ext tensorboard

In [61]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 11904), started 0:00:44 ago. (Use '!kill 11904' to kill it.)

In [62]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 4ms/step - loss: 50208.8516 - mae: 50208.8516
Test MAE : 50208.8515625

In [63]:
model.save('regression_model.h5')

e:\DL Projects\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(